extends layout

block content
  h2(align="center") Add Employee
  .container
    .main-login.main-center
      form.form-horizontal(method='post', action='#')
        .form-group
          label.cols-sm-2.control-label(for='name') Employee Name
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-user.fa(aria-hidden='true')
              input#name.form-control(type='text', name='name', placeholder='Enter your Name')
        .form-group
          label.cols-sm-2.control-label(for='username') Username
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-users.fa(aria-hidden='true')
              input#username.form-control(type='text', name='username', placeholder='Enter your Username')
        .form-group
          label.cols-sm-2.control-label(for='password') Password
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='password', name='user_pw', placeholder='Enter your Password')
        .form-group
          label.cols-sm-2.control-label(for='role') Role
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              select(name="role",class="form-control form-control-sl")
                option(value="cashier") cashier
                option(value="administrator") administrtor
        .form-group
          button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Add Employee