extends layout_plain

block content
  h2(align="center") Interface Insert Barang
  .container
    .main-login.main-center
      form.form-horizontal(method='post', action='#')
        .form-group
          label.cols-sm-2.control-label(for='productCode') Product Code
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-user.fa(aria-hidden='true')
              input#name.form-control(type='text', name='productCode', placeholder='Enter product code')
        .form-group
          label.cols-sm-2.control-label(for='productName') Product Name
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-users.fa(aria-hidden='true')
              input#username.form-control(type='text', name='productName', placeholder='Enter product name')
        .form-group
          label.cols-sm-2.control-label(for='sellPrice') Sell Price
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='number', name='sellPrice', placeholder='Enter sell price')
        .form-group
          label.cols-sm-2.control-label(for='buyPrice') Buy Price
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='number', name='buyPrice', placeholder='Enter buy price')
        .form-group
          label.cols-sm-2.control-label(for='stock') Stock
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='number', name='stock', placeholder='Enter stock')
        .form-group
          button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Add Product