html
  head
    title= title
    link#bootstrap-css(href="/css/bootstrap.min.css", rel="stylesheet")
    script(src="/js/bootstrap.min.js")
    script(src="/jquery.min.js")
    script(src='/js/bootstrap4.0.0/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')


    block head
  body
    if session
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href="/kasir") Kasir
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="/riwayat")
                | Riwayat 
                span.sr-only (current)

            if session.user == "admin"
              li.nav-item.active.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Employees
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/admin/employees') List all employees
                  a.dropdown-item(href='/admin/employees/add') Add Employee
              li.nav-item.active.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Products
                .dropdown-menu(aria-labelledby='navbarDropdown')
                  a.dropdown-item(href='/admin/products') List all products
                  a.dropdown-item(href='/admin/products/insert') Add product

            li.nav-item.active
              a.nav-link(href="/logout")
                | Logout
                span.sr-only (current)
      br

    if msg
      
      p(id="message",align="center",class="alert alert-warning",role="alert")= msg

    block content
