extends layout_plain

block content
  h2(align="center") Payment List of the Day
  br
  table(class="table table-striped text-center")
    thead
      tr
          th Pay Time
          th Cashier Name
          th Total Payment
          th Detail
    
      tbody
      - var val = 0;
      while val < len   
          tr(id='payment-'+`${val}`)
            td= payTime[parseInt(val)]
            td= cashierName[parseInt(val)]
            td= total[parseInt(val)]
            td
              form(action="/riwayat/detail", method="post")
                  input(type="hidden", name="key", value=`${orderCode[val]}`)
                  input(type="submit", value="Detail",class="btn btn-info") 
          - val += 1;  